@page "/fetchdata"
@using HackTheClimate.Data
@using BlazorPagination
@inject LegislationService LegislationService

<h1>Laws and policies</h1>

@if (_data == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <ul class="laws-and-policies">
        @foreach (var legislation in _data.Results)
        {
            <li>
                <h2 class="title">
                    <a href="/legislation/@legislation.Id">@legislation.Title</a>
                </h2>
                <div class="meta">
                    <div>
                        <img src="@($"/flags/{legislation.GeographyIso.ToUpperInvariant()}.svg")"/> @legislation.Geography
                    </div>

                    <div>
                        <img src="@($"{legislation.Type.ToString().ToLowerInvariant()}.svg")"/>@legislation.Type
                    </div>

                    <div className="right">
                        @legislation.Events.First().Date.Year
                    </div>

                    <div className="right">
                        @(legislation.Events.Count() > 1 ? $"Last change in {legislation.Events.Last().Date.Year}" : "")
                    </div>
                </div>
                <div class="description">@legislation.ShortenedDescription</div>
            </li>
        }
    </ul>

    <BlazorPager CurrentPage="@_data.CurrentPage"
                 PageCount="@_data.PageCount"
                 OnPageChanged="async e => { LoadPageData(e); }"
                 ShowFirstLast="false"
                 ShowPageNumbers="true"
                 VisiblePages="10"
                 FirstText="First"
                 LastText="Last"/>
}

@code {
    private IEnumerable<Legislation> _lawsAndPolicies;
    private PagedResult<Legislation> _data;

    protected override async Task OnInitializedAsync()
    {
        _lawsAndPolicies = LegislationService.Legislations;
        LoadPageData(1);
    }

    protected void LoadPageData(int currentPage)
    {
        const int pageSize = 10;
        _data = new PagedResult<Legislation>
        {
            CurrentPage = currentPage,
            PageCount = _lawsAndPolicies.Count() / pageSize,
            PageSize = pageSize,
            RowCount = _lawsAndPolicies.Count(),
            Results = _lawsAndPolicies.Skip((currentPage - 1) * pageSize).Take(pageSize).ToArray()
        };
        StateHasChanged();
    }

}