@page "/"
@using HackTheClimate.Services
@using CurrieTechnologies.Razor.Clipboard
@using System.Timers
@using System.Text.Json
@using System.Diagnostics
@inject IJSRuntime JS;
@inject GraphService graphService;
@inject ClipboardService clipboardService;
@inject DialogService DialogService;

<div class="row justify-content-between">
    <h1 class="col-3">Search</h1>
    <RadzenButton class="col-2" ButtonStyle="ButtonStyle.Light" Text="Similarity Weights" Click=@ShowInlineDialog />
</div>

@if (_searching)
{
<div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>
<br />
<br />
<div class="alert alert-primary" role="alert">
    <ul>
        @foreach (var info in _searchUpdates)
            {
        <li>@info</li>
            }
    </ul>
</div>
}
else
{
<div class="input-group">
    <input @bind="SearchTerm" type="text" class="form-control" placeholder="Search laws and policies" @onkeyup="OnInputKeyUp" @oninput="OnInput">
    <div class="input-group-append">
        <button class="btn btn-secondary" type="button" @onclick="Search">
            <i class="oi oi-magnifying-glass"></i>
        </button>
    </div>
</div>
}

<div style="display: flex;">
    <div style="flex: 0 0 900px">
        <svg @ref="_renderTo" height="900" width="900"></svg>
    </div>
    <div style="flex: 1;">
        @if (!_searching && _searchResult != null && _searchResult.RankedLegislations.Any())
        {
        <ul class="search-results">
            @foreach (var legislation in _searchResult.RankedLegislations.OrderBy(r => r.ConfidenceScore))
                {
            <li class="@GetSimilarityClass(@legislation.Legislation.Id)">
                <a href="/legislation/@legislation.Legislation.Id" title="@legislation.Legislation.Title">@legislation.Legislation.Title</a>
                <img src="@($"/flags/{legislation.Legislation.GeographyIso.ToUpperInvariant()}.svg")" alt="@legislation.Legislation.Geography" /> @legislation.Legislation.Events.First().Date.Year <span class="oi oi-align-left" title="@legislation.Legislation.ShortenedDescription"></span>
            </li>
                }
        </ul>

        <!--
        <button type="button" class="btn btn-outline-secondary" @onclick="CopySearchResultToClipboard">Copy Search Result Data to Clipboard</button>
        -->
        }

        @if (!_searching && _searchResult != null && !_searchResult.RankedLegislations.Any())
        {
        <p>
            No data found
        </p>
        }
    </div>
</div>


@code {

    protected ElementReference _renderTo;
    protected string SearchTerm { get; set; }
    protected List<string> _searchUpdates;
    protected int _searchUpdatesIndex;

    protected bool _searching;
    protected SearchResult _searchResult;
    private static Action<string> _onNodeSelectedAction;
    private Dictionary<string, string> _similarityClass = new Dictionary<string, string>();
    protected SimilarityWeights _similarityWeights = SimilarityWeights.DefaultWeights(); 

    private static readonly List<string> GenericSearchUpdates = new List<string> {"Performing a full text search in 2128 documents", "Calculating Similarity of legislations based on metadata", "Calculating Similarity of legislations based on text-analysis", "... wait for it", "... almost there", "... just one last thing"};

    protected override void OnInitialized()
    {
        _onNodeSelectedAction = OnNodeSelectedCallback;
    }

    private void OnNodeSelectedCallback(string id)
    {
        _similarityClass = new Dictionary<string, string>();

        foreach (var link in _searchResult.Graph.Links)
        {
            if (link.Source == id || link.Target == id)
            {
                var key = link.Source == id ? link.Target : link.Source;
                string value = "";
                switch (link.SimilarityScore)
                {
                    case < 0.1:
                        value = "Similarity-10";
                        break;

                    case < 0.2:
                        value = "Similarity-20";
                        break;

                    case < 0.3:
                        value = "Similarity-30";
                        break;

                    case < 0.4:
                        value = "Similarity-40";
                        break;

                    case < 0.5:
                        value = "Similarity-50";
                        break;

                    case < 0.6:
                        value = "Similarity-60";
                        break;

                    case < 0.7:
                        value = "Similarity-70";
                        break;

                    case < 0.8:
                        value = "Similarity-80";
                        break;


                    case < 0.9:
                        value = "Similarity-90";
                        break;

                    default:
                        value = "Similarity-100";
                        break;
                }

                _similarityClass.Add(key, value);
            }
        }

        StateHasChanged();
    }

    private async Task OnInputKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" || e.Code == "13")
        {
            await Search();
        }
    }

    private void OnInput(ChangeEventArgs e)
    {
        SearchTerm = (string) e.Value;
    }

    private async Task Search()
    {
        var searchTerm = SearchTerm;
        _searching = true;
        _searchUpdates = new List<string> {"Searching for '" + SearchTerm + "'"};
        _searchUpdatesIndex = 0;
        _searchResult = null;
        _similarityClass = new Dictionary<string, string>();

        var timer = new Timer(3000);
        timer.Elapsed += (sender, args) =>
        {
            if (_searchUpdatesIndex < GenericSearchUpdates.Count)
            {
                _searchUpdates.Add(GenericSearchUpdates[_searchUpdatesIndex]);
            }
            _searchUpdatesIndex++;
            InvokeAsync(StateHasChanged);
        };
        timer.AutoReset = true;
        timer.Enabled = true;

        var diagramModule = await JS
            .InvokeAsync<IJSObjectReference>("import", "/diagram.js");

        await diagramModule.InvokeVoidAsync("clearDiagram", _renderTo);

        _searchResult = await graphService.SearchAsync(SearchTerm, _similarityWeights);
        timer.Stop();
        timer.Dispose();


        if (_searchResult.RankedLegislations.Any())
        {
            await diagramModule.InvokeVoidAsync("renderDiagram", _renderTo, _searchResult.Graph);
        }

        SearchTerm = searchTerm;
        _searching = false;
    }

    private async Task CopySearchResultToClipboard()
    {
        if (clipboardService != null)
        {
            await clipboardService.WriteTextAsync(JsonSerializer.Serialize(_searchResult.RankedLegislations, new JsonSerializerOptions
            {
                WriteIndented = true
            }));
        }
    }

    [JSInvokable]
    public static void OnNodeSelected(string id)
    {
        _onNodeSelectedAction.Invoke(id);
    }

    private string GetSimilarityClass(string legislationId)
    {
        if (_similarityClass.Any())
        {
            if (_similarityClass.TryGetValue(legislationId, out var clazz))
            {
                return clazz;
            } else
            {
                return "Similarity-10";
            }
        }
        else
        {
            return string.Empty;
        }

    }

    async Task ShowInlineDialog() => await DialogService.OpenAsync("Similarity Weights", ds =>
        @<div>
            <h6>Metadata Simiarities Weigths</h6>

            <div class="row">
                <span class="col-4">Keyword</span>
                <div class="col-6">
                    <RadzenSlider @bind-Value=_similarityWeights.KeywordWeight TValue="int" Min="0" Max="10"/>
                </div>
                <input class="form-control col-2" type="text" @bind="_similarityWeights.KeywordWeight" disabled>
            </div>
            <div class="row">
                <span class="col-4">Sector</span>
                <div class="col-6">
                    <RadzenSlider @bind-Value=_similarityWeights.SectorWeight TValue="int" Min="0" Max="10"/>
                </div>
                <input class="form-control col-2" type="text" @bind="_similarityWeights.SectorWeight" disabled>
            </div>
            <div class="row">
                <span class="col-4">Framework</span>
                <div class="col-6">
                    <RadzenSlider @bind-Value=_similarityWeights.FrameworkWeight TValue="int" Min="0" Max="10"/>
                </div>
                <input class="form-control col-2" type="text" @bind="_similarityWeights.FrameworkWeight" disabled>
            </div>
            <div class="row">
                <span class="col-4">Instrument</span>
                <div class="col-6">
                    <RadzenSlider @bind-Value=_similarityWeights.InstrumentWeight TValue="int" Min="0" Max="10"/>
                </div>
                <input class="form-control col-2" type="text" @bind="_similarityWeights.InstrumentWeight" disabled>
            </div>
            <div class="row">
                <span class="col-4">Natural Hazard</span>
                <div class="col-6">
                    <RadzenSlider @bind-Value=_similarityWeights.NaturalHazardWeight TValue="int" Min="0" Max="10"/>
                </div>
                <input class="form-control col-2" type="text" @bind="_similarityWeights.NaturalHazardWeight" disabled>
            </div>
            <div class="row">
                <span class="col-4">Response</span>
                <div class="col-6">
                    <RadzenSlider @bind-Value=_similarityWeights.ResponseWeight TValue="int" Min="0" Max="10"/>
                </div>
                <input class="form-control col-2" type="text" @bind="_similarityWeights.ResponseWeight" disabled>
            </div>
            <div class="row">
                <span class="col-4">Location</span>
                <div class="col-6">
                    <RadzenSlider @bind-Value=_similarityWeights.LocationWeight TValue="int" Min="0" Max="10"/>
                </div>
                <input class="form-control col-2" type="text" @bind="_similarityWeights.LocationWeight" disabled>
            </div>
            <div class="row">
                <span class="col-4">Document Type</span>
                <div class="col-6">
                    <RadzenSlider @bind-Value=_similarityWeights.DocumentTypeWeight TValue="int" Min="0" Max="10"/>
                </div>
                <input class="form-control col-2" type="text" @bind="_similarityWeights.DocumentTypeWeight" disabled>
            </div>
            <div class="row">
                <span class="col-4">Type</span>
                <div class="col-6">
                    <RadzenSlider @bind-Value=_similarityWeights.TypeWeight TValue="int" Min="0" Max="10"/>
                </div>
                <input class="form-control col-2" type="text" @bind="_similarityWeights.TypeWeight" disabled>
            </div>

            <h6>Entitiy Recognition Simiarities Weigths</h6>
            <div class="row">
                <span class="col-4">Category Product</span>
                <div class="col-6">
                    <RadzenSlider @bind-Value=_similarityWeights.EntityProductWeight TValue="int" Min="0" Max="10"/>
                </div>
                <input class="form-control col-2" type="text" @bind="_similarityWeights.EntityProductWeight" disabled>
            </div>
            <div class="row">
                <span class="col-4">Category Event</span>
                <div class="col-6">
                    <RadzenSlider @bind-Value=_similarityWeights.EntityEventWeight TValue="int" Min="0" Max="10"/>
                </div>
                <input class="form-control col-2" type="text" @bind="_similarityWeights.EntityEventWeight" disabled>
            </div>
            <div class="row">
                <span class="col-4">Category Skill</span>
                <div class="col-6">
                    <RadzenSlider @bind-Value=_similarityWeights.EntitySkillWeight TValue="int" Min="0" Max="10"/>
                </div>
                <input class="form-control col-2" type="text" @bind="_similarityWeights.EntitySkillWeight" disabled>
            </div>
            <div class="row">
                <span class="col-4">Category Location</span>
                <div class="col-6">
                    <RadzenSlider @bind-Value=_similarityWeights.EntityLocationWeight TValue="int" Min="0" Max="10"/>
                </div>
                <input class="form-control col-2" type="text" @bind="_similarityWeights.EntityLocationWeight" disabled>
            </div>
        </div>);
}