@page "/lawOrPolicy/{id}"
@using HackTheClimate.Data
@inject LawOrPolicyService LawOrPolicyService

@if (lawOrPolicy == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <img src="@($"/flags/{lawOrPolicy.GeographyIso.ToUpperInvariant()}.svg")" alt="@lawOrPolicy.GeographyIso"/> @lawOrPolicy.Geography

    <hr />

    <h2>@lawOrPolicy.Title</h2>

    <div class="meta">


        <div>
            <img src="@($"{lawOrPolicy.Type.ToString().ToLowerInvariant()}.svg")" alt="@lawOrPolicy.Type"/>@lawOrPolicy.Type
        </div>

        <div>
            @lawOrPolicy.DocumentTypes
        </div>

        @foreach (var framework in lawOrPolicy.Frameworks)
        {
            <div>
                @(framework) Framework
            </div>
        }

        <div>
            Passed in @(lawOrPolicy.Events.First().Date.Year)
        </div>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }

    private Data.LawOrPolicy lawOrPolicy;

    protected override async Task OnInitializedAsync()
    {
        lawOrPolicy = LawOrPolicyService.GetLawOrPolicy(Id);
    }
}