@page "/lawOrPolicy/{id}"
@using HackTheClimate.Data
@inject LawOrPolicyService LawOrPolicyService

@if (lawOrPolicy == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <img src="@($"/flags/{lawOrPolicy.GeographyIso.ToUpperInvariant()}.svg")" alt="@lawOrPolicy.GeographyIso"/>
    @lawOrPolicy.Geography

    <hr/>

    <h1>@lawOrPolicy.Title</h1>

    <div class="meta">
        <div>
            <img src="@($"{lawOrPolicy.Type.ToString().ToLowerInvariant()}.svg")" alt="@lawOrPolicy.Type"/>@lawOrPolicy.Type
        </div>

        <div>
            @lawOrPolicy.DocumentTypes
        </div>

        @foreach (var framework in lawOrPolicy.Frameworks)
        {
            <div>
                @(framework) Framework
            </div>
        }
    </div>

    <p>
        @((MarkupString) lawOrPolicy.Description)
    </p>

    <h2>Timeline of Events</h2>
    <table>
        @foreach (var e in lawOrPolicy.Events)
        {
            <tr>
                <td style="width: 200px">@e.Date.ToString("MMMM yyyy")</td><td>@e.Description</td>
            </tr>
        }
    </table>

    <h2>Documents</h2>
    <ul>
        @foreach (var d in lawOrPolicy.Documents)
        {
            <li><a href="@d.Uri.ToString()">@d.Description @(string.IsNullOrEmpty(d.Language) ? "" : "("+@d.Language+")")</a></li>
        }
    </ul>


}

@code {

    [Parameter]
    public string Id { get; set; }

    private LawOrPolicy lawOrPolicy;

    protected override async Task OnInitializedAsync()
    {
        lawOrPolicy = LawOrPolicyService.GetLawOrPolicy(Id);
    }

}