@page "/legislation/{id}"
@using HackTheClimate.Data
@using System.Text.RegularExpressions
@inject LegislationService LegislationService

@if (_legislation == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <img src="@($"/flags/{_legislation.GeographyIso.ToUpperInvariant()}.svg")" alt="@_legislation.GeographyIso"/>
    @_legislation.Geography

    <hr/>

    <h1>@_legislation.Title</h1>

    <div class="meta">
        <div>
            <img src="@($"{_legislation.Type.ToString().ToLowerInvariant()}.svg")" alt="@_legislation.Type"/>@_legislation.Type
        </div>

        <div>
            @foreach (var d in _legislation.DocumentTypes)
            {
               <span>@(d), </span>
            }
        </div>

        @foreach (var framework in _legislation.Frameworks)
        {
            <div>
                @(framework) Framework
            </div>
        }
    </div>

    <p>
        @((MarkupString) _legislation.Description)
    </p>

    <h2>Timeline of Events</h2>
    <table>
        @foreach (var e in _legislation.Events)
        {
            <tr>
                <td style="width: 200px">@e.Date.ToString("MMMM yyyy")</td><td>@e.Description</td>
            </tr>
        }
    </table>

    <h2>Documents</h2>
    <ul>
        @foreach (var d in _legislation.Documents)
        {
            <li><a href="@d.Uri.ToString()">@d.Description @(string.IsNullOrEmpty(d.Language) ? "" : "("+@d.Language+")")</a></li>
        }
        <li><a href="@GetClimateLawUrl(_legislation)">Climate Laws Website</a></li>
    </ul>
}

@code {

    [Parameter]
    public string Id { get; set; }

    private Legislation _legislation;

    protected override async Task OnInitializedAsync()
    {
        _legislation = LegislationService.GetLegislation(Id);
    }

    /// <summary>
    /// Creates URL like https://climate-laws.org/geographies/taiwan/laws/electricity-act
    /// or https://climate-laws.org/geographies/afghanistan/policies/energy-sector-strategy-1387-1391-2007-8-2012-3
    /// Tax Reform Act 2020 (Steuerreformgesetz 2020 – StRefG 2020 - 984/A)
    /// becomes
    /// tax-reform-act-2020-steuerreformgesetz-2020-strefg-2020-984-a
    /// </summary>
    /// <param name="legislation"></param>
    /// <returns></returns>
    private static string GetClimateLawUrl(Legislation legislation)
    {
        var titleIdRegex = new Regex("[^a-zA-Z0-9 -/]");
        var title = titleIdRegex.Replace(legislation.Title, string.Empty).Replace("/", "-").Replace(" ", "-").Replace("(", string.Empty).Replace(")", string.Empty).ToLowerInvariant();

        var type = legislation.Type == LegislationType.Legislative ? "laws" : "policies"; // no idea whether that's correct

        return $"https://climate-laws.org/geographies/{legislation.Geography.ToLower()}/{type}/{title}";
    }

}